CompileFlags:
  Add:
  - -Wall
  - -Wextra
  - -Wno-c++98-compat
  - -Wno-c++98-compat-pedantic
  - -Wno-padded
  - -Wno-switch-default

Diagnostics:
  ClangTidy:
    Add:
    - modernize-*
    - performance-*
    - readability-*
    Remove:
    - hicpp-*
    - modernize-use-trailing-return-type
    - modernize-pass-by-value
    - readability-magic-numbers
    - readability-braces-around-statements
    - readability-identifier-length
    - readability-isolate-declaration
    - readability-redundant-access-specifiers
    - readability-convert-member-functions-to-static

InlayHints:
  Enabled: Yes
